body {
    font-family: Minecraft, sans-serif;
    margin: 20px;
    background-color: rgb(24, 24, 24);
    color: rgb(200, 200, 200);
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(24, 24, 24);
}

.navbar {
    top: 0;
    left: 0;
    background-color: rgb(24,24,24);
    overflow: hidden;
}

.navbar a:hover {
    background-color: white;
    color: rgb(24, 24, 24);
}

.H_image {
    width: 500px;
    height: auto;
}

@font-face {
    font-family: Minecraft;
    src: url(/fonts/MinecraftRegular-Bmg3.otf), format(otf);
}